<div class="indicator-container" [ngStyle]="{'border-color': color, 'margin': noOfBox < 3 ? '0 20px 0 0' : '0'}">

    <div class="indicator-average-data" *ngIf="dataTrend">
        <div class="p-pr-3 p-text-center">
            <div class="indicator-heading">Latest</div>
            <p class="average-data-primary" [ngStyle]="{'color': color}"
                *ngIf="kpiData?.kpiDetail?.chartType === 'stackedColumn' else lineChartTemplate">
                {{lastValue !== 'NA' ? (lastValue | number: '1.0-1') : lastValue}}
                <span *ngIf="kpiData?.kpiDetail?.kpiUnit !== 'Number'"
                    [ngClass]="{'unit': kpiData?.kpiDetail?.kpiUnit !='%'}"
                    [ngStyle]="{'color': color}">{{kpiData?.kpiDetail?.kpiUnit}}</span>
            </p>
            <ng-template #lineChartTemplate>
                <p class="average-data-primary" [ngStyle]="{'color': color}">{{lastValue == 'NA' ? lastValue : (dataTrend?.length > 1 ? dataTrend[1] :
                    dataTrend[0]) |
                    number: '1.0-1'}}
                    <span *ngIf="kpiData?.kpiDetail?.kpiUnit !== 'Number'"
                        [ngClass]="{'unit': kpiData?.kpiDetail?.kpiUnit !='%'}"
                        [ngStyle]="{'color': color}">{{kpiData?.kpiDetail?.kpiUnit}}</span>
                </p>
            </ng-template>
        </div>
        <div class="p-pr-3 p-text-center">
            <div class="indicator-heading">Trend</div>

            <div class="p-d-flex p-justify-center"
                *ngIf="dataTrend?.length > 1 && kpiData?.kpiDetail?.showTrend; else na">
                <div *ngIf="kpiData?.kpiDetail?.trendCalculative; else simpleTrend">
                    <div class="arrow-up" *ngIf="dataTrend[0] < dataTrend[1]">
                    </div>
                    <div class="arrow-down" *ngIf="dataTrend[0] > dataTrend[1]">
                    </div>
                    <ng-container *ngIf="dataTrend[0] == dataTrend[1]">
                        <div class="no-trend" *ngIf="kpiData?.kpiId !=='kpi126'; else showPositiveTrend" [ngStyle]="{'color': color}">-- --
                        </div>
                        <ng-template #showPositiveTrend>
                            <div class="arrow-up">
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
                <ng-template #simpleTrend>
                    <div class="arrow-up" *ngIf="dataTrend[0] > dataTrend[1] && !kpiData?.kpiDetail?.isPositiveTrend">
                    </div>
                    <div class="arrow-down" *ngIf="dataTrend[0] < dataTrend[1] && !kpiData?.kpiDetail?.isPositiveTrend">
                    </div>
                    <div class="arrow-up" *ngIf="dataTrend[0] < dataTrend[1] && kpiData?.kpiDetail?.isPositiveTrend">
                    </div>
                    <div class="arrow-down" *ngIf="dataTrend[0] > dataTrend[1] && kpiData?.kpiDetail?.isPositiveTrend">
                    </div>
                    <div class="no-trend" *ngIf="dataTrend[0] == dataTrend[1]" [ngStyle]="{'color': color}">-- --</div>
                    <div class="no-trend" *ngIf="dataTrend?.length == 1 && dataTrend[0] == 0"
                        [ngStyle]="{'color': color}">-- --</div>
                </ng-template>

            </div>
            <ng-template #na>
                <div class="indicator-maturity-primary-data">NA</div>
            </ng-template>
        </div>
    </div>

    <div class="indicator-maturity-trend p-text-center">
        <div class="indicator-heading">Maturity</div>
        <p class="indicator-maturity-primary-data">{{ maturity > 0 ? ('M'+maturity) : maturity == 0 ? '--' : 'NA'}}</p>
    </div>
</div>